@page "/addrecipe"
@rendermode InteractiveServer

<h3>Tilføj ny opskrift</h3>

<div>
	<p>Navn på opskrift</p>

	<p>Opskriftens URL</p>

	<p>Tilberedningstid</p>
</div>

<div>
	<p>Ingredienser</p>
</div>

@code {

}
