@page "/addrecipe"
@rendermode InteractiveServer

<h3>Tilføj ny opskrift</h3>

<div>
	<p>Navn på opskrift</p>
	<input type="text" id="recipeName" name="recipeName"/>

	<p>Opskriftens URL</p>
	<input type="text" id="recipeUrl" name="recipeUrl"/>

	<p>Tilberedningstid</p>
	<input type="text" id="recipeCookTime" name="recipeCookTime"/>
</div>

<div>
	<p>Ingredienser</p>
</div>

@code {

}
