@page "/weather"
@inject IRecipeService _iRecipeService
@rendermode InteractiveServer

<PageTitle>Weather</PageTitle>

<h1>Opskrifter</h1>

<p>Hvilke slags opskrifter vil du se?</p>

<button type="button" id="allRecipes" @onclick="showAllRecipes">Alle opskrifter</button>
<button type="button" id="userProduceRecipes" @onclick="showUserProduceRecipes">Opskrifter jeg kan lave</button>

<div hidden=@hideList id="recipeList">
    <ul>
        @foreach (var recipe in listOfRecipes)
        {
            <li><Tooltip Title="@getRecipeProduces(recipe)" Placement="TooltipPlacement.Top"><a href="@recipe.URL">@recipe.RecipeName | tilbedringstid: @recipe.CookTime minutter</a></Tooltip></li>
        }
    </ul>
</div>

@code {

    private IEnumerable<Recipe> listOfRecipes;

    bool hideList = true;

    protected override void OnInitialized()
    {
        listOfRecipes = _iRecipeService.GetAllRecipesFromDatabase();
    }

    private void showAllRecipes(){
        hideList = !hideList;
    }

    private void showUserProduceRecipes(){
        // in progress
    }

    private string getRecipeProduces(Recipe recipe){
        return _iRecipeService.getRecipeProduceLines(recipe);
    }

}
