@page "/weather"
@inject IRecipeService _iRecipeService
@attribute [StreamRendering]

<PageTitle>Weather</PageTitle>

<h1>Opskrifter</h1>

<p>Hvilke slags opskrifter vil du se?</p>

<button type="button" id="allRecipes" @onclick="showAllRecipes">Alle opskrifter</button>
<button type="button" id="userProduceRecipes" @onclick="showUserProduceRecipes">Opskrifter jeg kan lave</button>

<div hidden="@ShowList" id="recipeList">
    <p>hello!</p>
    <ul><li id="recipe"></li></ul>
</div>

@code {
    private List<Recipe> listOfRecipes;
    private bool ShowList { get; set; } = false;

    protected void showAllRecipes(){
        ShowList = !ShowList;
    }

    protected void showUserProduceRecipes(){
        // in progress
    }
}
